.days, .hours, .minutes, .seconds{
    display: inline;
    font-weight: bold;
}

.days {
    display: block
}

.hours, .minutes, .seconds{
    display: inline;
    font-weight: bold;
    font-size: 17px;
}