.App {
  text-align: center;
}
.map{
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:-1000;
}

.navpage-box {
  background-color: #efefef;
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}