.navbar {
    margin-bottom: 0px;
}

.navbar-inverse .navbar-header > a {
    color: #dac833;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color: #dac833;

    /*background-image: "public/images/icons/icon-72x72.png";
    color : #ffeb3b;*/
}

.navbar-inverse .navbar-nav > li > a {
  color : #7d7d7d;
}

.navbar-inverse .navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;


   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 
}