.topcorner{
    background-color: rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    float: right;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}

.stroke {
    vertical-align: middle;
    font-size: large;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

@media screen and (max-width: 540px) {
    .topcorner{
        margin-right: 0px;
    }
}