/*html, body {
    background: url("image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#center_text{
    text-align: center;
    margin: 80px 0;
}

.fullscreen {
    height: 100vh;
}

h2 {
    font-family: 'Open Sans', serif;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-family: 'Open Sans', serif;
    font-size: 40px;
    font-weight: normal;
}

h2, h3 {
    color: #2f2f2f;
    width: 50%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline;
}​

p {
    font-family: 'Open Sans', serif;
    color: white;
}