.login{
    max-width: 400px;
    margin: 0 auto;
}

p {
    color: white;
}

.box{
    margin: 80px auto 10px;
    width:400px;
    padding: 20px 20px 20px;
    background: rgba(0,0,0,0.6);
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

@media screen and (max-width: 540px) {
    .box{
        width: 100%;
    }
}



