.login{
    max-width: 400px;
    margin: 0 auto;
}

.box{
    margin: 40px auto 10px;
    width:400px;
    padding: 10px 15px 15px;
    background: rgba(0,0,0,0.6);
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

