.footer-bar {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: red;
}

.floating-left {
    float: left;
}

.floating-right {
    float: right;
    vertical-align: top;
}

.modal-footer{
    padding: 12px;
}

.modal-title {
    margin-top: 12px;
}

.collection {
    height: 500px;
    width: 100%;
    overflow: scroll;
    padding-left: 15px;
}