.footer-bar {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: red;
}

.floating-left {
    float: left;
}

.floating-right {
    float: right;
}

.full-modal > .modal-footer{
    padding: 12px;
}

.full-modal > .modal-title {
    margin-top: 12px;
}

.collection {
    height: 300px;
    width: 100%;
    overflow: scroll;
    padding-left: 15px;
}


@media only screen and (max-width : 1200px) {
    .collection {
        height: 300px;
    }
}

@media screen and (max-width : 992px) {
    .collection{
        height: 250px;
    }
}



@media screen and (max-width: 540px) {
    .collection{
        height: 200px;
        padding-left: 0;
    }
    .full-modal > .modal-header{
        padding: 0;
    }
    .full-modal > .modal-footer{
        padding: 0;
    }
    .full-modal{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .full-modal > .modal-content{
        height: auto;
        min-height: 100%;
        border-radius: 0;
 }

    @media only screen and (max-width : 480px) {
        .collection{
            height: 180px;
        }
    }
}